{% extends 'lenta/base.html' %}

{% block head %}
<title>Просмотр</title>
{% endblock %}


{% block content %}
    <div class="post">
        <div class="puding">
        {% if post.published_date %}
            <div class="date">
                <img class="profimag" src="{{ post.author.profile.image.url }}">
                <p class="author"> Автор: {{ post.author}} </p>
                <p style="oolor:gray;">{{ post.published_date }}</p>
            </div>
        {% endif %}
        </div>
         {% if post.image %}
            <img src='{{ post.image.url }}' class='img' />
         {% endif %}
        <div class="puding">
        <p style="color:black"><span style="font-weight: bold;font-size: 16px">{{ user.get_username }}</span> {{ post.text|linebreaksbr }}</p>
        </div>
            {% if post.author == user %}
                        <a style="text-decoration: none;" class="change" href="{% url 'com_edit' pk=post.pk %}"><i class="far fa-edit"></i></a>
                        <a style="text-decoration: none;" class="change2" href="{% url 'com_remove' pk=post.pk %}"><i class="far fa-trash-alt"></i></span></a>
        {% endif %}
                        {% if user.is_authenticated %}
                        <div class="votes">
                        <form style="padding: 1px" action="{% url 'post-like' pk=post.pk %}" method="post">
                                {% csrf_token %}
                                <button style="border: none;margin-left: 5px;" type="submit"><i class="far fa-thumbs-up finger like"></i></button>
                            </form>
                            <form style="padding: 1px" action="{% url 'post-unlike' pk=post.pk %}" method="post">
                                {% csrf_token %}
                                <button style="border: none;margin-left: 5px;" type="submit"><i class="far fa-thumbs-down finger dis"></i></button>
                            </form>
                            <a style="margin-left: 5px;" href="{% url 'add_comment_to_post' pk=post.pk %}"><i class="far fa-comment finger coment"></i></a>
                        </div>
                        {% endif %}
                        <p style="padding: 5px;font-weight: bold">{{ post.total_likes }} отметок "Нравится"</p>
    </div>
{% if user.is_authenticated %}
<a id="edit_prof" style="border-radius: 0; text-align: center;" href="{% url 'add_comment_to_post' pk=post.pk %}">Добавьте комментарий...</a>
{% endif %}
<div style="padding: 15px">
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                {% if comment.author == user %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>Пока еще нету комментариев :(</p>
{% endfor %}
</div>
{% endblock %}
