{% extends 'lenta/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<title>{{ user.first_name }} {{ user.last_name}}</title>
{% endblock %}
user.last_name

{% block content %}
<div class="contain border">
    <!--{% if user.is_authenticated %}-->
        <!--<a id="edit_prof" href="{% url 'edit_profile'%}">Редактировать профиль</a>-->
    <!--{% endif %}-->
    <img class="profimagbig" src="{{ user.profile.image.url }}">
    <div>
        <h1 style="margin: 0; margin-top: 5px;">Моя страница</h1>
        <p>Имя пользователя: {{ user }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Телефон: {{ user.profile.phone }}</p>
        <p>Город: {{ user.profile.city }}</p>
        <p>Описание: {{ user.profile.description }}</p>
        <a id="change_pass" href="{% url 'change_password'%}">Изменить пароль</a>

    </div>
</div>
<hr>
<form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <h3 class="border-bottom mb-4">Изменить профиль</h3>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button id="edit_prof" type="submit">Обновить</button>
          </div>
      </form>
{% endblock %}
