
ad {
font-size:45px;
color:#000000;
border:solid 3px
 }
 
 
b {
font-size:100px;
 }
 
 
 .one {
color: white;
background-color:940D0D;
border: 2px
}

body{
background-color:BCB9B7;	
}

h1 {
font-size:120px;
}

h2 {
font-size:70px;
}